<div class="jumbotron">
<div class="row justify-content-center">
  <h1 class="display-4">Event Bright Now</h1>
  </div>
  <div class="row justify-content-center">
  <p class="lead">Les events les plus classes, par vous, pour tous, partout.</p>
  </div>
  
  <div class="row justify-content-center">
  <p class="lead">
  <% if current_user %>
    <a class="btn btn-dark btn-lg" role="button"<%= link_to "Create your event now !", new_event_path%>  </a>
    <% else %>
    <a class="btn btn-dark btn-lg" role="button"<%= link_to "Create your event now !", new_user_session_path%>  </a>
    <% end %>
  </p>
  </div>
</div>

<div class="row justify-content-center">
 <h4>Les events bright à venir </h4>
</div>

<div class="row justify-content-center">
  <% @events.each do |event| %>


 <div class="col-sm-4" style="padding: 22px">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text">Crée par  <%= event.admin.first_name %></p>
           <%= link_to "Voir l'évènement", event_path(event.id) , class:"btn btn-outline-dark" %>
           <%= link_to "Participer", new_attendance_path , class:"btn btn-outline-dark" %>  
      </div>
    </div>
  </div>
  <% end %>