
<br>
<div class="row justify-content-center">
 <h3>Mon event bright<h3>
 </div>
<br>


<div class="jumbotron">
  <div class="row justify-content-center">
<div class="card" style="width: 30rem;">
  <div class="card-header">
   Event bright : <%= @events.title %>
  </div>
  <ul class="list-group list-group-flush">
 <li class="list-group-item">Créé par : <%= @events.admin.first_name %></li> 
    <li class="list-group-item">Date : <%= @events.start_date%></li>
    <li class="list-group-item">Durée : <%= @events.duration %> minutes</li>
    <li class="list-group-item">Localisation : <%= @events.location %></li>
    <li class="list-group-item">Prix : <%= @events.price %> €</li>
  </ul>
</div>
</div>
</div>

 <div class="row justify-content-center">
  <%= link_to "Participer", new_attendance_path(id: @events.id) , class:"btn btn-outline-dark" %>  
</div>

  

