<h2>Transaction réalisée avec succès !</h2>

  <%= form_tag attendances_path, method: "post" do %>

    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :event_id, @event.id %>
    <%= hidden_field_tag :customer_id, @customer_id %>

    <%= submit_tag "Confirmer le paiement", class: "btn btn-dark text-light" %>
    
  <% end %>  



